import %workspace%/contrib/vendor/hedronvision/bazel-compile-commands-extractor/bazel-compile-commands-extractor.bazelrc
import %workspace%/seed/devprod/rbe/rbe.bazelrc
import %workspace%/seed/vendor/bazel/bazel.bazelrc
import %workspace%/seed/vendor/boost/boost.bazelrc
import %workspace%/seed/vendor/cc/cc.bazelrc
import %workspace%/seed/vendor/container/container.bazelrc
import %workspace%/seed/vendor/java/java.bazelrc
import %workspace%/seed/vendor/python/python.bazelrc
import %workspace%/seed/vendor/ts/ts.bazelrc

common --remote_cache=https://ndscm-prod-rbe-cache-prod.storage.googleapis.com/
common --google_default_credentials
try-import %workspace%/rbe.local.bazelrc

build --workspace_status_command=./seed/infra/buildinfo/bazel/generate-workspace-status.sh
