common --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
common --incompatible_strict_action_env


build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17
build --@boost.asio//:ssl=boringssl

# # Disable parse_headers to fix hedron_compile_commands with abseil-cpp
build --features=-parse_headers
build --host_features=-parse_headers

build --workspace_status_command=./seed/devprod/buildinfo/generate-workspace-status.sh
