# direnv config for the seed project.

dotenv seed/devprod/direnv/ndscm.env

# use PATH_add to prepend bin directories to PATH so dotslash-defined tools are available repo-wide.

PATH_add seed/vendor/bazel/bin
PATH_add seed/vendor/buck/bin
PATH_add seed/vendor/claude/bin
PATH_add seed/vendor/crane/bin
PATH_add seed/vendor/lego/bin
PATH_add seed/vendor/llvm/bin
