# MacOS
.DS_Store

# Bazel
/bazel-bin
/bazel-out
/bazel-testlogs
/bazel-*
/.bep

# CC
.cache
compile_commands.json

# Node
dist
node_modules

# Next.js
.next
next-env.d.ts

# Protobuf
*_connect.d.ts
*_pb.d.ts
*_pb.d.ts
*_pb.js
*_pb2_grpc.py
*_pb2.py
*_pb2.pyi
*.connect.go
*.pb.go

# Python
__pycache__

# Rust
/target
