{
  "endOfLine": "lf",
  "importOrder": [
    "^node:",
    "<THIRD_PARTY_MODULES>",
    "^@mui/material/",
    "^@mui/icons-material/",
    "^@theseed/",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSideEffects": false,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-groovy"
  ],
  "printWidth": 80,
  "proseWrap": "always",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": ["Jenkinsfile", "Jenkinsfile.*", "*.Jenkinsfile"],
      "options": {
        "parser": "groovy"
      }
    }
  ]
}
